<div class = "container mt-4">
  <div class = "d-flex">
    <div class = "col-6">
      <h3>Movies</h3>
    </div>
      <div class="col-6 text-end">
    </div>
  </div>
  <div class="row">
    <% @movies.each do |movie| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to movie_path(movie), class:"text-decoration-none" do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)">
            <%= movie.title %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
