<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'up.gif' %>);">
  <div class="container">
    <h1>TheRealBlockBuster</h1>
    <p>Rebobinando recuerdos con cada VHS.</p>
      <div class="row justify-content-center">
        <div class="col-sm-8 my-3">
          <%= form_with url: movies_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Type a keyword"
              %>
            <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
  </div>
</div>
