<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'vhsfoto.png' %>);">
  <div class="container">
    <h1>TheRealBlockBoster</h1>
    <p>Rebobinando recuerdos con cada VHS.</p>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
      <button class="btn btn-primary" type="button" id="button-addon2">Buscar!</button>
    </div>
  </div>
</div>
