<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'up.gif' %>);">
  <div class="container">
    <h1>TheRealBlockBuster</h1>
    <p>Rebobinando recuerdos con cada VHS.</p>
    <%= link_to "ENTER", movies_path, class:"btn btn-primary" %>

  </div>
</div>
