.footer {
  background-color: #4f7c35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px;
  margin-top: auto;
  color: rgb(244, 244, 244);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgba(0,0,0,0.5);
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #000000;
}
.footer .fa-heart {
  color: #D23333;
}

.logo-size {
  heighy:10px;
}
